@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400&display=swap');
body{
    scroll-behavior: smooth;
}
h1,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: lightslategray;
}

.navbar {
    background: rgba(20, 20, 20, 0.9);
}

#logo {
    border: 3px solid #b88e58;
    width: 100px;
    font-family: 'Cinzel', serif;
    color: white;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.nav-link:hover {
    color: #b88e58;
}

.carousel {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
}

.carousel-caption {
    top: 60%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.card {
    border: 1px solid #b88e58;
}
#gallery img {
    cursor: pointer;
}
#footer i{
    cursor: pointer;
}
::selection {
    background-color: black;
    color: #b88e58;
}